Repository hadenlabs/terraform-github-repository: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

.pre-commit-config.yaml:

default_stages:
  - commit

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: [--ignore-words=.codespell-ignores]
        exclude: >
          (?x)^(
            .+\.vendor\/.*$|
            .+\.node_modules\/.*$|
            .+\.lock$|
          )$
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v5.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@hadenlabs/commitlint-config']
        args:
          - --config=.github/linters/.commitlintrc.json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: detect-private-key
        files: ^(?!\.?git-crypt)
        exclude: >
          (?x)^(
            .+\.gitleaks.toml$|
          )$
      - id: check-merge-conflict
      - id: check-added-large-files
        files: ^tf|-|\.(py|env|yml|yaml)$
      - id: check-case-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: check-byte-order-marker
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer
      - id: check-symlinks
      - id: name-tests-test
        args:
          - --django
      - id: file-contents-sorter
      - id: fix-encoding-pragma
      - id: sort-simple-yaml
  - repo: https://github.com/hadenlabs/pre-commit-hooks
    rev: 9111e47764952f5937a609d040f9ae0e0da74a94
    hooks:
      - id: do-not-commit
      - id: markdown-link-check
        args:
          - --config=.github/linters/markdown-link-config.json
        exclude: \.tpl.md$
      - id: shellcheck
        exclude: >
          (?x)^(
            .+\.provision/git/hooks/prepare-commit-msg$|
            .+\.tpl.sh$|
          )$
        args:
          - --exclude=SC1072,SC1073,SC2068
      - id: validate-toml
      - id: no-go-testing
      - id: golangci-lint
        args:
          - --fix
          - --config=.github/linters/.golangci.yml
      - id: terraform-docs
        args:
          - '--output-file=docs/include/terraform.md'
          - '--output-mode=replace'
          - '--sort-by-type'

      - id: terraform-tflint
        args:
          - '--config=.github/linters/.tflint.hcl'
      - id: terragrunt-fmt
      - id: terraform-fmt
      - id: terraform-tfsec

      - id: checkov
      - id: todocheck
      - id: gitleaks
        args:
          - --path=.
          - --repo-config-path=.github/linters/.gitleaks.toml
          - --verbose
      - id: prepare-commit-msg
        stages: [prepare-commit-msg]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: ./node_modules/prettier/bin-prettier.js
        args:
          - '--write=true'
          - '--config=.github/linters/prettier.config.js'
          - '--ignore-path=.github/linters/.prettierignore'
        files: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$
        exclude: node_modules
      - id: eslint
        name: eslint
        language: node
        entry: node_modules/eslint/bin/eslint.js
        args:
          - '--fix'
          - '--color'
          - '--config=.github/linters/.eslintrc.js'
          - '--ignore-path=.github/linters/.eslintignore'
        files: \.(js|jsx|ts|tsx|mjs|d.ts)$
        exclude: node_modules
      - id: stylint
        name: stylint
        language: system
        pass_filenames: true
        entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
        args: [--fix]
        files: \.(css|scss|sass|less)$

refactor: configuration project (#80)
  .editorconfig
  .env.example
  .gitattributes
  .github/semantic.yml
  .mailmap
  .nvmrc
Due: prettier

refactor: change make actions to task (#80)
  Makefile
  Taskfile.yml
  provision/git/hooks/prepare-commit-msg
  provision/make/alias.mk
  provision/make/docker.mk
  provision/make/docs.mk
  provision/make/git.mk
  provision/make/gitflow.mk
  provision/make/go.mk
  provision/make/python.mk
  provision/make/terraform.mk
  provision/make/tests.mk
  provision/make/utils.mk
  provision/make/yarn.mk
  provision/task/changelog.yml
  provision/task/docker.yml
  provision/task/docs.yml
  provision/task/git.yml
  provision/task/gitflow.yml
  provision/task/go.yml
  provision/task/mark.yml
  provision/task/plantuml.yml
  provision/task/prettier.yml
  provision/task/python.yml
  provision/task/sonar.yml
  provision/task/ssh.yml
  provision/task/version.yml
  provision/task/yarn.yml
Due: prettier

chore: implement return type variable (#80)
  provision/generators/plop/index.ts
  provision/generators/plop/utils/helpers.ts
Due: prettier, eslint

chore: implement common and faker repository (#82)
  go.mod
  go.sum
  internal/app/external/faker/repository.go
  internal/app/external/faker/repository_test.go
  internal/common/log/interface.go
  internal/common/log/log.go
  internal/common/log/log_test.go
  internal/common/log/mocking/zap.env
  internal/common/log/provider/mocking/zap.env
  internal/common/log/provider/zap.go
  internal/common/log/provider/zap_test.go
  internal/testutil/config/config.go
  internal/testutil/config/config_test.go
  internal/testutil/config/mocking/config.env
  internal/testutil/testutil.go
Due: none

chore: implement faker test repository (#82)
  provision/generators/plop/templates/test.add.hbs
Due: none

fix: test generate testing faker (#82)
  test/repository-add-labels-default/.terraform.lock.hcl
  test/repository-add-labels-default/docs/include/terraform.md
  test/repository-add-labels-default/versions.tf
  test/repository-basic-public/docs/include/terraform.md
  test/repository-basic-public/versions.tf
  test/repository_add_labels_default_test.go
  test/repository_basic_public_test.go
  test/repository_basic_templates_with_settings_test.go
  test/repository_ghpages_test.go
  test/repository_gitflow_with_templates_test.go
Due: prettier

feat: disabled default project (#74)
  main.tf
Due: none

chore: implement configuration branch protection (#74)
  docs/include/terraform.md
  main.tf
  variables.tf
Due: prettier

sample: implement branch protection (#74)
  docs/examples/common.md
Due: prettier

chore: implement module branch protection (#74)
  test/repository-branch-protection/docs/include/terraform.md
  test/repository-branch-protection/main.tf
  test/repository-branch-protection/outputs.tf
  test/repository-branch-protection/provider.tf
  test/repository-branch-protection/variables.tf
  test/repository-branch-protection/versions.tf
Due: prettier

chore: implement constant visibility repository (#74)
  config/repository.go
  config/repository_test.go
  test/repository_branch_protection_test.go
Due: none

fix: load name repository id (#74)
  main.tf
Due: none

chore: change visibility repository (#74)
  test/repository_add_labels_default_test.go
  test/repository_basic_public_test.go
  test/repository_basic_templates_with_settings_test.go
  test/repository_ghpages_test.go
Due: none

chore: implement change visibility with configuration (#74)
  provision/generators/plop/templates/test.add.hbs
Due: none

build: generate files (#74)
  .gitignore
  Pipfile.lock
  README.md
Due: prettier

build: generate version (0.12.0)
  CHANGELOG.md
  README.md
  docs/examples/common.md
  internal/version/version.go
  package.json
  provision/generators/README.yaml
  setup.cfg
Due: prettier
