Repository hadenlabs/terraform-github-repository: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

chore: clean dependencies unnecessary (#88)
  provision/generators/README.yaml
Due: prettier

feat: implement task actions test (#88)
  Taskfile.yml
Due: prettier

perf: change docker sonar task actions (#88)
  Taskfile.yml
  provision/task/sonar.yml
Due: prettier

build: generate files (#88)
  .gitignore
  README.md
Due: prettier

docs: delete confluence github repository (#88)
  docs/authors.md
  docs/code_of_conduct.md
  docs/commands.md
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/faq.md
  docs/releasing.md
  docs/support.md
  docs/testing.md
Due: prettier

chore: implement ignore pages branch (#88)
  main.tf
Due: none

docs: clean badge keep changelog (#88)
  provision/generators/README.yaml
Due: prettier

ci: upgrade github actions lint
  .github/workflows/lint.yml
Due: prettier

ci: upgrade github actions sonarqube
  .github/workflows/sonarqube.yml
Due: prettier

ci: upgrade github actions confluence
  .github/workflows/confluence.yml
Due: prettier

chore: move linters to ci path (#90)
  .ci/linters/.commitlintrc.json
  .ci/linters/.eslintignore
  .ci/linters/.eslintrc.js
  .ci/linters/.gitleaks.toml
  .ci/linters/.golangci.yml
  .ci/linters/.hadolint.yaml
  .ci/linters/.lintstagedrc.js
  .ci/linters/.prettierignore
  .ci/linters/.pylintrc
  .ci/linters/.stylintrc
  .ci/linters/.tflint.hcl
  .ci/linters/checkov.yml
  .ci/linters/markdown-link-config.json
  .ci/linters/prettier.config.js
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_question.md
  .github/stale.yml
  .github/workflows/sonarqube.yml
  .pre-commit-config.yaml
  Taskfile.yml
  package.json
  provision/task/confluence.yml
  provision/task/go.yml
  provision/task/mark.yml
  provision/task/prettier.yml
  provision/task/sonar.yml
Due: prettier, eslint

refactor: configuration confluence (#90)
  SECURITY.md
  docs/code_of_conduct.md
  docs/commands.md
  docs/components.md
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/env-vars.md
  docs/examples/common.md
  docs/releasing.md
  docs/roadmap.md
  docs/testing.md
  docs/troubleshooting.md
  docs/usage.md
Due: prettier

chore: implement version support 0.12 a < 2 (#90)
  docs/include/terraform.md
  versions.tf
Due: prettier

fix: clean show token on task confluence (#92)
  provision/task/confluence.yml
Due: prettier

chore: implement generator file docs for test (#92)
  provision/generators/README.yaml
  provision/generators/plop/generators/test.ts
  provision/generators/plop/templates/test/data.add.hbs
  provision/generators/plop/templates/test/versions.add.hbs
Due: prettier, eslint

refactor: templates generator readme (#92)
  provision/templates/README.tpl.md
Due: prettier

fix: configuration project (#92)
  .env.example
  .nvmrc
  setup.cfg
  sonar-project.properties
Due: none

build: generate files (#92)
  .gitignore
  .mailmap
  README.md
Due: prettier

chore: implement generators docs path on test (#92)
  .env.example
  .gitignore
  .mailmap
  .nvmrc
  README.md
  provision/generators/README.yaml
  provision/generators/plop/generators/test.ts
  provision/generators/plop/templates/test/data.add.hbs
  provision/generators/plop/templates/test/versions.add.hbs
  provision/task/confluence.yml
  provision/templates/README.tpl.md
  setup.cfg
  sonar-project.properties
Due: prettier, eslint

build: generate version major (1.0.0)
  CHANGELOG.md
  docs/examples/common.md
  internal/version/version.go
  package.json
  provision/generators/README.yaml
  setup.cfg
Due: prettier

test: implement templates with settings (#67)
  .terraform.lock.hcl
  TMP_CHANGELOG.md
  test/repository-add-labels-default/.terraform.lock.hcl
  test/repository-basic-public/.terraform.lock.hcl
  test/repository-topics-basic/.terraform.lock.hcl
Due: prettier

feat: implement faker repository (#75)
  internal/app/external/faker/main.go
  internal/app/external/faker/repository.go
  internal/app/external/faker/repository_test.go
Due: none

refactor: test implement repository faker data (#75)
  test/repository_basic_public_test.go
  test/repository_basic_templates_with_settings_test.go
  test/repository_basic_with_gitflow_branchs_test.go
  test/repository_ghpages_test.go
  test/repository_gitflow_with_templates_test.go
  test/repository_topics_basic_test.go
Due: none

build: implement lint code github actions
  .github/workflows/lint.yml
Due: prettier

test: implement git flow with templates (#72)
  test/repository-gitflow-with-templates/.terraform.lock.hcl
  test/repository-gitflow-with-templates/docs/include/terraform.md
  test/repository-gitflow-with-templates/main.tf
  test/repository-gitflow-with-templates/outputs.tf
  test/repository-gitflow-with-templates/provider.tf
  test/repository-gitflow-with-templates/variables.tf
  test/repository-gitflow-with-templates/versions.tf
  test/repository_gitflow_with_templates_test.go
Due: prettier

build: implement release code github actions
  .github/workflows/release.yml
Due: prettier

Delete .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
