Repository hadenlabs/terraform-github-repository: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

prettier:
  name: prettier
  language: system
  entry: ./node_modules/prettier/bin-prettier.js
  args:
  - --write=true
  - --config=.github/linters/prettier.config.js
  - --ignore-path=.github/linters/.prettierignore

eslint:
  name: eslint
  language: node
  entry: node_modules/eslint/bin/eslint.js
  args:
  - --fix
  - --color
  - --config=.github/linters/.eslintrc.js
  - --ignore-path=.github/linters/.eslintignore

stylint:
  name: stylint
  language: system
  pass_filenames: true
  entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
  args:
  - --fix

chore: implement github actions confluence and sonarqube (#80)
  .github/workflows/confluence.yml
  .github/workflows/release.yml
  .github/workflows/sonarqube.yml
Due: prettier

chore: implement return type variable (#80)
  provision/generators/plop/index.ts
  provision/generators/plop/utils/helpers.ts
Due: prettier, eslint

build: generate files (#80)
  .gitignore
  README.md
  docs/include/terraform.md
  yarn.lock
Due: prettier

chore: implement common and faker repository (#82)
  go.mod
  go.sum
  internal/app/external/faker/repository.go
  internal/app/external/faker/repository_test.go
  internal/common/log/interface.go
  internal/common/log/log.go
  internal/common/log/log_test.go
  internal/common/log/mocking/zap.env
  internal/common/log/provider/mocking/zap.env
  internal/common/log/provider/zap.go
  internal/common/log/provider/zap_test.go
  internal/testutil/config/config.go
  internal/testutil/config/config_test.go
  internal/testutil/config/mocking/config.env
  internal/testutil/testutil.go
Due: none

fix: implement validation make terraform (#77)
  .github/workflows/test.yml
Due: prettier

chore: change version terraform (#80)
  provision/generators/README.yaml
  versions.tf
Due: prettier

refactor: generator readme (#80)
  provision/generators/README.yaml
  provision/templates/README.tpl.md
Due: prettier

chore: implement faker test repository (#82)
  provision/generators/plop/templates/test.add.hbs
Due: none

chore: implement faker values (#77)
  test/repository_add_labels_default_test.go
Due: none

fix: generated github pages branch (#77)
  main.tf
Due: none

fix: version tag (#80)
  internal/version/version.go
  setup.cfg
Due: none

refactor: configuration project (#80)
  .editorconfig
  .env.example
  .gitattributes
  .github/semantic.yml
  .mailmap
  .nvmrc
Due: prettier

ci: implement hooks prepare commit msg
  provision/git/hooks/prepare-commit-msg
Due: none

feat: implement diagrams with plantuml (#80)
  provision/diagrams/Taskfile.yml
  provision/diagrams/docs/diagrams/example.plantuml
  provision/diagrams/docs/diagrams/logo.plantuml
Due: prettier

refactor: name template for generator plop (#80)
  provision/generators/plop/generators/test.ts
  provision/generators/plop/templates/test.add.hbs
  provision/generators/plop/templates/test/main.add.hbs
  provision/generators/plop/templates/test/outputs.add.hbs
  provision/generators/plop/templates/test/provider.add.hbs
  provision/generators/plop/templates/test/provider.append.hbs
  provision/generators/plop/templates/test/variables.add.hbs
  provision/generators/plop/templates/test/versions.add.hbs
Due: prettier, eslint

ci: generate version 0.11.0
  .github/linters/markdown-link-config.json
  CHANGELOG.md
  README.md
  docs/examples/common.md
  package.json
  provision/generators/README.yaml
  setup.cfg
Due: prettier

refactor: dependencies node (#80)
  package.json
Due: prettier

chore: implement lints configuration project (#80)
  .github/linters/.gitleaks.toml
  .github/linters/.hadolint.yaml
  .github/linters/.prettierignore
  .pre-commit-config.yaml
Due: prettier

fix: load data labels (#77)
  data.tf
  main.tf
Due: none

chore: implement configuration sonar (#80)
  sonar-project.properties
Due: none

chore: implement contributing to confluence (#80)
  docs/authors.md
  docs/code_of_conduct.md
  docs/commands.md
  docs/components.md
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/diagrams/example.png
  docs/diagrams/logo.png
  docs/disclaimer.md
  docs/env-vars.md
  docs/examples/common.md
  docs/faq.md
  docs/releasing.md
  docs/roadmap.md
  docs/support.md
  docs/testing.md
  mkdocs.yml
Due: prettier

chore: implement configuration log (#80)
  config/config.go
  config/interface.go
  config/log.go
  go.mod
  go.sum
Due: none

chore: implement script test (#80)
  Pipfile
Due: none

refactor: change make actions to task (#80)
  Makefile
  Taskfile.yml
  provision/git/hooks/prepare-commit-msg
  provision/make/alias.mk
  provision/make/docker.mk
  provision/make/docs.mk
  provision/make/git.mk
  provision/make/gitflow.mk
  provision/make/go.mk
  provision/make/python.mk
  provision/make/terraform.mk
  provision/make/tests.mk
  provision/make/utils.mk
  provision/make/yarn.mk
  provision/task/changelog.yml
  provision/task/docker.yml
  provision/task/docs.yml
  provision/task/git.yml
  provision/task/gitflow.yml
  provision/task/go.yml
  provision/task/mark.yml
  provision/task/plantuml.yml
  provision/task/prettier.yml
  provision/task/python.yml
  provision/task/sonar.yml
  provision/task/ssh.yml
  provision/task/version.yml
  provision/task/yarn.yml
Due: prettier

fix: test generate testing faker (#82)
  test/repository-add-labels-default/docs/include/terraform.md
  test/repository-add-labels-default/versions.tf
  test/repository-basic-public/docs/include/terraform.md
  test/repository-basic-public/versions.tf
  test/repository_add_labels_default_test.go
  test/repository_basic_public_test.go
  test/repository_basic_templates_with_settings_test.go
  test/repository_ghpages_test.go
  test/repository_gitflow_with_templates_test.go
Due: prettier

sample: implement branch protection (#74)
  docs/examples/common.md
Due: prettier

fix: load name repository id (#74)
  main.tf
Due: none

chore: implement constant visibility repository (#74)
  config/repository.go
  config/repository_test.go
  test/repository_branch_protection_test.go
Due: none

build: generate files (#74)
  .gitignore
  Pipfile.lock
  README.md
Due: prettier

chore: implement module branch protection (#74)
  test/repository-branch-protection/docs/include/terraform.md
  test/repository-branch-protection/main.tf
  test/repository-branch-protection/outputs.tf
  test/repository-branch-protection/provider.tf
  test/repository-branch-protection/variables.tf
  test/repository-branch-protection/versions.tf
Due: prettier

feat: disabled default project (#74)
  main.tf
Due: none

build: generate version (0.12.0)
  CHANGELOG.md
  README.md
  docs/examples/common.md
  internal/version/version.go
  package.json
  provision/generators/README.yaml
  setup.cfg
Due: prettier

chore: change visibility repository (#74)
  test/repository_add_labels_default_test.go
  test/repository_basic_public_test.go
  test/repository_basic_templates_with_settings_test.go
  test/repository_ghpages_test.go
Due: none

chore: implement configuration branch protection (#74)
  docs/include/terraform.md
  main.tf
  variables.tf
Due: prettier

chore: implement change visibility with configuration (#74)
  provision/generators/plop/templates/test.add.hbs
Due: none

fix: test generate repository (#86)
  test/repository_add_labels_default_test.go
  test/repository_basic_templates_with_settings_test.go
  test/repository_basic_with_gitflow_branchs_test.go
  test/repository_branch_protection_test.go
  test/repository_ghpages_test.go
Due: none

chore: implement task go (#86)
  .github/workflows/test.yml
Due: prettier

refactor: generator git ignore (#86)
  provision/task/git.yml
Due: prettier

feat: implement repository name for template test (#86)
  provision/generators/plop/templates/test.add.hbs
Due: none

fix: description task actions (#86)
  provision/task/go.yml
  provision/task/mark.yml
  provision/task/python.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$, but not: node_modules
  eslint: any of: \.(js|jsx|ts|tsx|mjs|d.ts)$, but not: node_modules
  stylint: any of: \.(css|scss|sass|less)$
