Repository hadenlabs/terraform-github-repository: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, stylint

.pre-commit-config.yaml:

default_stages:
  - commit

repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: [--ignore-words=.codespell-ignores]
        exclude: >
          (?x)^(
            .+\.vendor\/.*$|
            .+\.node_modules\/.*$|
            .+\.lock$|
          )$
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v5.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@hadenlabs/commitlint-config']
        args:
          - --config=.github/linters/.commitlintrc.json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: detect-private-key
        files: ^(?!\.?git-crypt)
        exclude: >
          (?x)^(
            .+\.gitleaks.toml$|
          )$
      - id: check-merge-conflict
      - id: check-added-large-files
        files: ^tf|-|\.(py|env|yml|yaml)$
      - id: check-case-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: check-byte-order-marker
      - id: check-ast
      - id: debug-statements
      - id: check-docstring-first
      - id: requirements-txt-fixer
      - id: check-symlinks
      - id: name-tests-test
        args:
          - --django
      - id: file-contents-sorter
      - id: fix-encoding-pragma
      - id: sort-simple-yaml
  - repo: https://github.com/hadenlabs/pre-commit-hooks
    rev: 9111e47764952f5937a609d040f9ae0e0da74a94
    hooks:
      - id: do-not-commit
      - id: markdown-link-check
        args:
          - --config=.github/linters/markdown-link-config.json
        exclude: \.tpl.md$
      - id: shellcheck
        exclude: >
          (?x)^(
            .+\.provision/git/hooks/prepare-commit-msg$|
            .+\.tpl.sh$|
          )$
        args:
          - --exclude=SC1072,SC1073,SC2068
      - id: validate-toml
      - id: no-go-testing
      - id: golangci-lint
        args:
          - --fix
          - --config=.github/linters/.golangci.yml
      - id: terraform-docs
        args:
          - '--output-file=docs/include/terraform.md'
          - '--output-mode=replace'
          - '--sort-by-type'

      - id: terraform-tflint
        args:
          - '--config=.github/linters/.tflint.hcl'
      - id: terragrunt-fmt
      - id: terraform-fmt
      - id: terraform-tfsec

      - id: checkov
      - id: todocheck
      - id: gitleaks
        args:
          - --path=.
          - --repo-config-path=.github/linters/.gitleaks.toml
          - --verbose
      - id: prepare-commit-msg
        stages: [prepare-commit-msg]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        entry: ./node_modules/prettier/bin-prettier.js
        args:
          - '--write=true'
          - '--config=.github/linters/prettier.config.js'
          - '--ignore-path=.github/linters/.prettierignore'
        files: \.(js|jsx|json|ts|tsx|mjs|d.ts|md|yml|yaml|gql|graphql|mjml)$
        exclude: node_modules
      - id: eslint
        name: eslint
        language: node
        entry: node_modules/eslint/bin/eslint.js
        args:
          - '--fix'
          - '--color'
          - '--config=.github/linters/.eslintrc.js'
          - '--ignore-path=.github/linters/.eslintignore'
        files: \.(js|jsx|ts|tsx|mjs|d.ts)$
        exclude: node_modules
      - id: stylint
        name: stylint
        language: system
        pass_filenames: true
        entry: node_modules/stylelint/bin/stylelint.js --config=.github/linters/.stylintrc --syntax less **/*.less
        args: [--fix]
        files: \.(css|scss|sass|less)$

feat: implement diagrams with plantuml (#80)
  provision/diagrams/Taskfile.yml
  provision/diagrams/docs/diagrams/example.plantuml
  provision/diagrams/docs/diagrams/logo.plantuml
Due: prettier

chore: implement configuration sonar (#80)
  sonar-project.properties
Due: none

chore: implement return type variable (#80)
  provision/generators/plop/index.ts
  provision/generators/plop/utils/helpers.ts
Due: prettier, eslint

refactor: dependencies node (#80)
  package.json
Due: prettier

fix: version tag (#80)
  internal/version/version.go
  setup.cfg
Due: none

chore: implement configuration log (#80)
  config/config.go
  config/interface.go
  config/log.go
  go.mod
  go.sum
Due: none

refactor: configuration project (#80)
  .editorconfig
  .env.example
  .gitattributes
  .github/semantic.yml
  .mailmap
  .nvmrc
Due: prettier

chore: implement script test (#80)
  Pipfile
Due: none

refactor: name template for generator plop (#80)
  provision/generators/plop/generators/test.ts
  provision/generators/plop/templates/test.add.hbs
  provision/generators/plop/templates/test/main.add.hbs
  provision/generators/plop/templates/test/outputs.add.hbs
  provision/generators/plop/templates/test/provider.add.hbs
  provision/generators/plop/templates/test/provider.append.hbs
  provision/generators/plop/templates/test/variables.add.hbs
  provision/generators/plop/templates/test/versions.add.hbs
Due: prettier, eslint

chore: change version terraform (#80)
  provision/generators/README.yaml
  versions.tf
Due: prettier

build: generate files (#80)
  .gitignore
  README.md
  docs/include/terraform.md
  yarn.lock
Due: prettier

refactor: generator readme (#80)
  provision/generators/README.yaml
  provision/templates/README.tpl.md
Due: prettier

chore: implement lints configuration project (#80)
  .github/linters/.gitleaks.toml
  .github/linters/.hadolint.yaml
  .github/linters/.prettierignore
  .pre-commit-config.yaml
Due: prettier

chore: implement github actions confluence and sonarqube (#80)
  .github/workflows/confluence.yml
  .github/workflows/release.yml
  .github/workflows/sonarqube.yml
Due: prettier

refactor: change make actions to task (#80)
  Makefile
  Taskfile.yml
  provision/git/hooks/prepare-commit-msg
  provision/make/alias.mk
  provision/make/docker.mk
  provision/make/docs.mk
  provision/make/git.mk
  provision/make/gitflow.mk
  provision/make/go.mk
  provision/make/python.mk
  provision/make/terraform.mk
  provision/make/tests.mk
  provision/make/utils.mk
  provision/make/yarn.mk
  provision/task/changelog.yml
  provision/task/docker.yml
  provision/task/docs.yml
  provision/task/git.yml
  provision/task/gitflow.yml
  provision/task/go.yml
  provision/task/mark.yml
  provision/task/plantuml.yml
  provision/task/prettier.yml
  provision/task/python.yml
  provision/task/sonar.yml
  provision/task/ssh.yml
  provision/task/version.yml
  provision/task/yarn.yml
Due: prettier

chore: implement contributing to confluence (#80)
  docs/authors.md
  docs/code_of_conduct.md
  docs/commands.md
  docs/components.md
  docs/contribute/git-flow.md
  docs/contributing.md
  docs/diagrams/example.png
  docs/diagrams/logo.png
  docs/disclaimer.md
  docs/env-vars.md
  docs/examples/common.md
  docs/faq.md
  docs/releasing.md
  docs/roadmap.md
  docs/support.md
  docs/testing.md
  mkdocs.yml
Due: prettier
